<h1>Welcome to Novelty <%= @user %></h1>
<a href="/novels/new">Add a Novel and Review</a><br>
<a href="/users/logout">logout</a><br>
<hr>
<h4>Lastest Reviewed:</h4>
    <ol>
        <% @update.each do |books|  %>
            <li><a href="/novels/<%= books.id %>/show"><%= books.title %></a></li><br>
        <% end %>
    </ol>
<hr>
<% @books.each do |book| %>
    <h2 id="book"> <a href="/novels/<%= book.id %>/show"><%= book.title %></a> </h2>
<% end %>